.rules-container{
    padding: 1rem;
}

.rules-list{
    padding-left: 2rem;
    background-color: var(--helper-color);
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.rules-btn{
    justify-content: space-evenly;
}
