.home-img{
    height: 85vh;
}

.home-banner{
    margin: 1rem 0;
}

.banner-title{
    color: var(--primary-color);
    font-size: 2rem;
    font-family: 'Dancing Script';
}

.banner-caption{
    font-size: 1.5rem;
    font-family: 'Dancing Script';
}
.btn-explore{
    margin-top: 1rem;
}
@media screen and (max-width: 750px) {
    .home-banner {
        flex-direction: column-reverse;
    }
}